{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1">Web App Vulnerabilities</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">Sebastian Jez</span>
    </nav>

{% endblock %}